{% extends 'visiteur/index.html.twig' %}

{% block title %}Consultation fiche frais{% endblock %}

{% block page_content %}
	<h1>Consultation des fiches de frais</h1>
	<hr>	
	{% if fichesFrais == null %}
		<div class="alert alert-primary">
			<h4 class="alert-heading">Aucune fiche de frais</h4>
			<p class="mb-0"><a href="{{path('saisir_fiche_frais')}}" class="alert-link">Créer une nouvelle fiche de frais</a></p>
			
		</div>
	{% else %}
	<div class="table-responsive">
		<table class="table table-bordered table-active table-hover table-striped table-responsive">
			<thead class="thead-dark"></thead>
			<tr class="table-secondary">
					<th>Mois</th>
					{# <th>Nombre de justificatifs</th> #}
					<th>Montant validé</th>
					<th>Date de modification</th>
					<th>Situation</th>
					<th>Action</th>
			</tr>
			<tbody>
				{% for uneFicheFrais in fichesFrais %}
					<tr>
						<td>{{uneFicheFrais.mois | date('m/Y')}}</td>
						{# <td>{{uneFicheFrais.nbJustificatifs}}</td> #}
						<td>{{uneFicheFrais.montantValide|format_currency('EUR')}}</td>
						<td>{{uneFicheFrais.dateModif | date('d/m/Y')}}</td>
						<td>{{uneFicheFrais.idEtat.libelle}}</td>
						{% if uneFicheFrais == ficheFraisCourante %}
							<td><a href="{{path('saisir_fiche_frais')}}">Saisir</a></td>
						{% else %}
							<td><a href="{{path('consulter_detail_fiche_frais', {'idFicheFrais': uneFicheFrais.id})}}">Consulter</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br/>
	{% endif %}
{% endblock %}
