{% extends 'visiteur/index.html.twig' %}

{% block title %}Saisie fiche frais{% endblock %}

{% block contenuPage %}

	<h1>Saisie</h1>
	<h3>Période d'engagement</h3>
	<h4>{{ficheFrais.mois | format_datetime(locale='fr',pattern="MMMM YYYY") | capitalize}}</h4>
	<br/>

	<h3>Frais au forfait</h3>
	<div class="table-responsive">
		<table class="table table-bordered table-active table-hover table-striped table-responsive">
			<thead class="thead-dark"></thead>
			<tr class="table-secondary">
				<th>Frais forfaitisés</th>
				{% for fraisForfait in fraisForfaits %}
					<th>{{fraisForfait.libelle}}</th>
				{% endfor %}
			</tr>
			<tbody>
				<tr>
					<td>Montant</td>
					{% for fraisForfait in fraisForfaits %}
						<td>{{fraisForfait.montant}}</td>
					{% endfor %}
				</tr>
				<tr>
					<td>Quantité</td>
					{% for ligneFraisForfait in ligneFraisForfaits %}
						<td>{{ligneFraisForfait.quantite }}</td>
					{% endfor %}
				</tr>
				<tr>
					<td>Total</td>
					{% for ligneFraisForfait in ligneFraisForfaits %}
						<td>{{ligneFraisForfait.quantite * fraisForfaits[loop.index0].montant}}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>

	{{form_start(formFraisForfait, {'attr': {'class': "row g-3", 'onsubmit': "return confirm('Souhaitez-vous valider les nouvelles quantités de frais forfaitisés ?');"}}
	)}}
	{% for ligneFraisForfait in formFraisForfait.lignefraisforfaits %}
		<div class="col-md-3">
			<label for="fraisForfait" class="form-label">{{fraisForfaits[loop.index0].libelle}}</label>
			{{form_widget(ligneFraisForfait.quantite, {'attr': {'value': ligneFraisForfaits[loop.index0].quantite }})}}
			{{form_errors(ligneFraisForfait.quantite)}}
		</div>
	{% endfor %}
	<div class="col-12">
		{{form_widget(formFraisForfait.valider)}}
	</div>
	{{form_end(formFraisForfait)}}
	<br/>

	<h3>Frais hors forfait</h3>
	<div class="table-responsive">
		<table class="table table-bordered table-active table-hover table-striped">
			<thead class="thead-dark"></thead>
			<tr class="table-secondary">
				<th>Date</th>
				<th>Libelle</th>
				<th>Montant</th>
				<th>Action</th>
			</tr>
			<tbody>
				{% for fraisHorsForfait in fraisHorsForfaits %}
					<tr>
						<td class="align-middle">{{fraisHorsForfait.date | date('d/m/Y')}}</td>
						<td class="align-middle">{{fraisHorsForfait.libelle}}</td>
						<td class="align-middle">{{fraisHorsForfait.montant}}</td>
						<td class="col-md-1">
							<form method="post" action="{{ path('supprimer_fraishorsforfait', {'id': fraisHorsForfait.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne de frais non forfaitisé ?');">
								<input type="hidden" name="supprimer_fraishorsforfait_token" value="{{ csrf_token('delete' ~ fraisHorsForfait.id) }}">
								<button class="btn btn-primary btn-sm">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{{form_start(formFraisHorsForfait, {'attr': {'class': "row g-3", 'onsubmit': "return confirm('Souhaitez-vous ajouter un nouveau frais non forfaitisé ?');"}})}}
	<div class="col-md-4">
		<label for="fraisHorsForfait" class="form-label">Date</label>
		{{form_widget(formFraisHorsForfait.date)}}
		{{form_errors(formFraisHorsForfait.date)}}
	</div>
	<div class="col-md-4">
		<label for="fraisHorsForfait" class="form-label">Libelle</label>
		{{form_widget(formFraisHorsForfait.libelle)}}
		{{form_errors(formFraisHorsForfait.libelle)}}
	</div>
	<div class="col-md-4">
		<label for="fraisHorsForfait" class="form-label">Montant</label>
		{{form_widget(formFraisHorsForfait.montant)}}
		{{form_errors(formFraisHorsForfait.montant)}}
	</div>
	<div class="col-12">
		{{form_widget(formFraisHorsForfait.ajouter)}}
	</div>
	{{form_end(formFraisHorsForfait)}}
	<br/>

{% endblock %}
