<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}GSB Frais{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/styles.css')}}">

		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>

		<div>
			{% block navbar %}
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<div class="container-fluid">
						<a class="navbar-brand" href="{{ path('index') }}"><img width="53" src="{{ asset('/images/logo.png') }}" alt="GSB"></a>
						{% block enteteConnecte %}{% endblock %}
					</div>
				</nav>
			{% endblock %}
		</div>

		<div>
			{% block body %}{% endblock %}
		</div>

		<script src={{asset('js/bootstrap.bundle.min.js')}}></script>
	</body>
</html>
