{% extends 'comptable/index.html.twig' %}

{% block title %}Administration fiche frais
{% endblock %}

{% block contenuPage %}
	{% for message in app.session.flashbag.get('fraisHorsForfaitEnAttente') %}
		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
	{% endfor %}
	{% for message in app.session.flashbag.get('ficheFraisValide') %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
	{% endfor %}
	<h1>Administration fiche de frais</h1>
	<hr>
	<h3>Période d'engagement</h3>
	<h4>{{ficheFrais.mois | format_datetime(locale='fr',pattern="MMMM YYYY") | capitalize}}</h4>
	<h4>{{ficheFrais.idvisiteur.nom ~ ' ' ~ ficheFrais.idvisiteur.prenom}}</h4>
	<hr/>

	<h3>Frais au forfait</h3>
	<div class="table-responsive">
		<table class="table table-bordered table-active table-hover table-striped table-responsive">
			<thead class="thead-dark"></thead>
			<tr class="table-secondary">
				<th>Frais forfaitisés</th>
				<th>Forfait Etape</th>
				<th>Frais Kilométrique</th>
				<th>Nuitée Hôtel</th>
				<th>Repas Restaurant</th>
			</tr>
			<tbody>
				<tr>
					<td>Montant</td>
					{% for fraisForfait in fraisForfaits %}
						<td>{{fraisForfait.montant|format_currency('EUR')}}</td>
					{% endfor %}
				</tr>
				<tr>
					<td>Quantité</td>
					{% for ligneFraisForfait in ligneFraisForfaits %}
						<td>{{ligneFraisForfait.quantite }}</td>
					{% endfor %}
				</tr>
				<tr>
					<td>Total</td>
					{% for ligneFraisForfait in ligneFraisForfaits %}
						<td>{{(ligneFraisForfait.quantite * fraisForfaits[loop.index0].montant)|format_currency('EUR')}}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>

	{{form_start(formFicheFrais, {'attr': {'class': "row g-3", 'onsubmit': "return confirm('Souhaitez-vous valider les nouvelles quantités de frais forfaitisés ?');"}}
	)}}
	{% for ligneFraisForfait in formFicheFrais.lignefraisforfaits %}
		<div class="col-md-3">
			<label for="fraisForfait" class="form-label">{{fraisForfaits[loop.index0].libelle}}</label>
			{{form_widget(ligneFraisForfait.quantite, {'attr': {'value': ligneFraisForfaits[loop.index0].quantite }})}}
			{{form_errors(ligneFraisForfait.quantite)}}
		</div>
	{% endfor %}
	<div class="col-12">
		{{form_widget(formFicheFrais.valider)}}
	</div>
	{{form_end(formFicheFrais)}}
	<br/>

	<h3>Frais hors forfait</h3>
	<div class="table-responsive">
		<table class="table table-bordered table-active table-hover table-striped">
			<thead class="thead-dark"></thead>
			<tr class="table-secondary">
				<th class="text-center">Date</th>
				<th>Libelle</th>
				<th>Montant</th>
				<th>Statut</th>
				<th class="text-center">Action</th>
			</tr>
			<tbody>
				{% for fraisHorsForfait in fraisHorsForfaits %}
					<tr>
						<td class="col-md-1 align-middle">{{fraisHorsForfait.date | date('d/m/Y')}}</td>
						<td class="col-md-6 align-middle">
							<b>{{fraisHorsForfait.idstatut.libelle | upper}}
								:
							</b>
							{{fraisHorsForfait.libelle}}</td>
						<td class="col-md-2 align-middle">{{fraisHorsForfait.montant|format_currency('EUR')}}</td>
						<td class="col-md-2 align-middle">{{fraisHorsForfait.idstatut.libelle}}</td>
						<td class="col-md-1" align="center">
							<form method="post" action="{{ path('modifier_statut_frais_hors_forfait', {'id': fraisHorsForfait.id}) }}" onsubmit="return confirm('Vous allez modifier le statut de ce frais non forfaitisés\nSouhaitez-vous continuer ?');">
								<input type="hidden" name="modifier_statut_frais_hors_forfait_token" value="{{ csrf_token('edit' ~ fraisHorsForfait.id) }}">
								{% if fraisHorsForfait.idstatut.id == 'REF' %}
									<button class="btn btn-success btn-sm">Valider</button>
								{% elseif fraisHorsForfait.idstatut.id == 'VAL' %}
									<button class="btn btn-danger btn-sm">Refuser</button>
								{% else %}
									<div class="btn-group" role="group">
										<div class="col-md-6 px-1">
											<button class="btn btn-success btn-sm">Valider</button>
										</div>
										<div class="col-md-6 px-1">
											<button class="btn btn-danger btn-sm">Refuser</button>
										</div>
									</div>
								{% endif %}
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<br/>

	<div class="d-grid">
		<form method="post" action="{{ path('valider_fiche_frais', {'id': ficheFrais.id}) }}" onsubmit="return confirm('Vous allez valider cette fiche de frais.\nSouhaitez-vous continuer ?');">
			<input type="hidden" name="valider_fiche_frais_token" value="{{ csrf_token('validate' ~ ficheFrais.id) }}">
			<button class="btn btn-primary btn">Valider fiche frais</button>
		</form>
	</div>
	<br/>
{% endblock %}
